# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Node-RED runtime files
*.bak
*.backup

# Test flows (pokud nechceš sdílet)
# test/flow.json 